div.pizza {
  @include flexMid;

  position: fixed;
  left: 3rem;
  bottom: 3rem;
  z-index: 999;
  width: fit-content;
  height: auto;
  cursor: pointer;
  
  // border: solid 1px white;
  img {
    width: 20rem;
  }

  &.active{display: none;}
}