.container-marquee {
  // @include flexMid;
  
  display: flex;
  align-items: center;
  // justify-content: center;
  // width: 120%;
  // transform:  skew(10deg, -10deg);
  overflow: hidden;
}

.marquee {
  @include flexMid;

  // width: 100%;
  font-family: $primary-font;
  font-size: 4rem;
  font-size: 6rem;
  line-height: 4rem;
  font-weight: 800;
  color: white;
  // color: $secondary-yellow;
  opacity: .8;
  // color: transparent;
  // -webkit-text-stroke: 1px white;
  padding: 24px;
  white-space: nowrap;
  animation: marquee 35.5s infinite linear;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.marquee::after {
  content: 'SLOW FOOD \27B8\ GOOD FOOD - CIRCUIT COURT \27B8\ INGRÉDIENTS DE LA FERME -';
  // border-top: 1px solid white;
  // border-bottom: 1px solid white;
  // padding: 24px;
  // background-color: red;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}